<!doctype html>

<html>
	<head>
		<title>Add Meeting</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/addMeeting.css" rel="stylesheet">
	</head>
	<body>

		<form id="addMeetingForm" role="form" method="get" action="/add">

			<h3>Add a Meeting to your Set Location</h3>

			<div class="form-group">
	          <label for="meetingName">Meeting Name:</label>
	          <input type="text" class="form-control" id="meetingName" placeholder="Name" name="meetingName">
	        </div>

			<div class="form-group">
	          <label for="meetingTime">Meeting Time:</label>
	          <input type="text" class="form-control" id="meetingTime" placeholder="Name" name="meetingTime">
	        </div>

			<p>Invite Friends</p>
			<input class="inputField" id="friendName" type="text" placeholder="ex: Johnny">
			<ul>
				<li>Kyle</li>
				<li>Glen</li>
			</ul>

			<p>Select Arrival Time(s) Notifications</p>
	  			<input type="radio" name="ten" value="ten"> Friend is 10 min away <br>
	  			<input type="radio" name="five" value="five"> Friend is 5 min away <br>
	  			<input type="radio" name="two" value="two"> Friend is 2 min away <br>

	  			<input type="submit" id="submitBtn" class="btn btn-default" value="Add the Meeting"></input>
  		</form>
		<br>
		<button id="cancel" type="button">Cancel</button>

	</body>
</html>