<!doctype html>

<html>
	<head>
		<title>Add Meeting</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/addMeeting.css" rel="stylesheet">
	</head>
	<body>

		<form id="addMeetingForm" role="form" method="get" action="/addMeeting">

			<h3>Choose Meeting Specifications</h3>

			<div class="form-group">
	          <label for="meetingName">Meeting Name:</label>
	          <input type="text" class="inputField form-control" id="meetingName" placeholder="Name" name="meetingName">
	        </div>

			<div class="form-group">
	          <label for="meetingTime">Meeting Time:</label>
	          <input type="text" class="inputField form-control" id="meetingTime" placeholder="00:00" name="meetingTime">
	        </div>

			<p>Invite Friends</p>
			<input class="inputField" id="friendName" type="text" placeholder="ex: Johnny">

			<p>Select Arrival Time(s) Notifications</p>
	  			<div>
	  				<input type="checkbox" id="ten" name="ten" value="ten"> Friend is 10 min away <br>
	  			</div>
	  			<div>
	  				<input type="checkbox" id="five" name="five" value="five"> Friend is 5 min away <br>
	  			</div>
	  			<div>
	  				<input type="checkbox" id="two" name="two" value="two"> Friend is 2 min away <br>
	  			</div>

	  			<br>

	  			<input type="submit" id="submitBtn" class="btn btn-default" value="Add the Meeting"></input>
  		</form>
		<br>
		<button id="cancel" class="btn btn-default" type="button">Cancel</button>

		<script src="/js/addMeeting.js"></script>
	</body>
</html>