<!doctype html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115142761-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115142761-1');
  </script>

  <title>RUHereYet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/menu.css" rel="stylesheet">
  <link href="/css/friends.css" rel="stylesheet">
</head>
<body>

  <div class="dropdownF">
    <button id="dropbtn">Menu</button>
    <div id="myDropdown" class="dropdown-content">
            <a href="/home">Home</a>
            <a href="meetingsCreated">Meetings Created</a>
            <a href="meetingsJoined">Meetings Joined</a>
            <a href="friends">Friends</a>
            <a href="profile.html">Profile</a>
    </div>
  </div>

  <h3 id="friendsHeader" class="header">Friends</h3>

  <ul id="friendsList">
    {{#each friends}}
    <li class = "listElements">
      Name: {{name}} | Username: {{username}}
    </li>
    <br>
    {{/each}}
    <br>
  </ul>

  <form id="addFriendForm" role="form" method="get" action="/addFriend">
    <h4>Add a friend</h4>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Ex: John" name="name">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Ex: JohnSmith1" name="username">
    </div>
    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
  </form>

  <script src="/js/menu.js"></script>
</body>
</html>