<!doctype html>

<html>
	<head>
		<title>RUHereYet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/homepage.css" rel="stylesheet">
		<link href="/css/menu.css" rel="stylesheet">
		<link href="/css/material-kit.css" rel="stylesheet" />
	</head>
	<body>
		<div id="instruction">
			<br>
			Search Your Meeting's Location!
		</div>

		<div class="container">
			<div class="dropdown">
  				<button id="dropbtn">Menu</button>
  				<div id="myDropdown" class="dropdown-content">
    				<a href="/home">Home</a>
    				<a href="meetingsCreated">Meetings Created</a>
    				<a href="meetingsJoined">Meetings Joined</a>
    				<a href="friends">Friends</a>
    				<a href="profile.html">Profile</a>
  				</div>
			</div>
		</div>
		<button id="addMeetingButton">Add Meeting at Pin</button>

   		<div class="searchBarHolder">
     		<input id="pac-input" class="controls" type="text" placeholder="Meet at a Location...">
     	</div>
     	
     	<div id="map"></div> 

     	{{#each meetingsCreated}}
			<div class="pings" id="{{meetingLocation}}">{{time}}</div>
		{{/each}}


     	<!--   Core JS Files   -->
		<script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/js/material.min.js"></script>

		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="/js/nouislider.min.js" type="text/javascript"></script>

		<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
		<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

		<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
		<script src="/js/material-kit.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0WRQl-Hgot5KsHhaHU9zLo4SgK5nL6M4&libraries=places&callback=initMap"
      		async defer></script>

	    <script src="/js/homepage.js"></script>
	    <script src="/js/menu.js"></script>
	</body>
</html>
