<!doctype html>

<html>
	<head>
		<title>RUHereYet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/homepage.css" rel="stylesheet">
		<link href="/css/menu.css" rel="stylesheet">
		<link href="/css/material-kit.css" rel="stylesheet" />
	</head>
	<body>
		<div id="instruction">
			Search a Location to Set Your Meeting At!
		</div>

		<div class="container">
			<div class="dropdown">
  				<button id="dropbtn">Menu</button>
  				<div id="myDropdown" class="dropdown-content">
    				<a href="#">Home</a>
    				<a href="meetingsCreated.html">Meetings Created</a>
    				<a href="meetingsJoined.html">Meetings Joined</a>
    				<a href="friends.html">Friends</a>
    				<a href="profile">Profile</a>
  				</div>
			</div>
		</div>

		<div style="z-index: 1; position: absolute; margin-left: 180px; top: 125px;">
			<li><a href="./signin-page.html">Log In</a></li>
		</div>

		<div style="z-index: 1; position: absolute; margin-left: 270px; top: 125px">
        	<li><a href="./signup-page.html">Sign Up</a></li>
        </div>

		<button id="addMeetingButton">Add Meeting at Pin</button>

   		<div class="searchBarHolder">
     		<input id="pac-input" class="controls" type="text" placeholder="Meet at a Location...">
     	</div>
     	
     	<div id="map"></div>
     	<!--   Core JS Files   -->
		<script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/js/material.min.js"></script>

		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="/js/nouislider.min.js" type="text/javascript"></script>

		<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
		<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

		<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
		<script src="/js/material-kit.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0WRQl-Hgot5KsHhaHU9zLo4SgK5nL6M4&libraries=places&callback=initMap"
      		async defer></script>

	    <script src="/js/homepage.js"></script>
	    <script src="/js/menu.js"></script>
	</body>
</html>
