<!doctype html>

<html>
	<head>
		<title>RUHereYet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/menu.css" rel="stylesheet">
	</head>
	<body>
		<div class="dropdown">
  			<button id="dropbtn">Menu</button>
  			<div id="myDropdown" class="dropdown-content">
    			<a href="/home">Home</a>
    			<a href="meetingsCreated">Meetings Created</a>
    			<a href="meetingsJoined">Meetings Joined</a>
    			<a href="friends">Friends</a>
    			<a href="profile.html">Profile</a>
  			</div>
		</div>

		<h3 class="headerJM">Joined Meetings</h3>
		<ul id="joinedMeetings">
			{{#each meetingsJoined}}
			<li class = "listElements">You have joined the meeting: {{meetingName}} at {{time}}</li>
			{{/each}}
		</ul>

		<script src="/js/menu.js"></script>
	</body>
</html>