<!doctype html>

<html>
	<head>
		<title>RUHereYet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/menu.css" rel="stylesheet">
	</head>
	<body>
		<div class="dropdown">
  			<button id="dropbtn">Menu</button>
  			<div id="myDropdown" class="dropdown-content">
    			<a href="#">Home</a>
    			<a href="meetingsCreated.html">Meetings Created</a>
    			<a href="meetingsJoined.html">Meetings Joined</a>
    			<a href="friends.html">Friends</a>
    			<a href="profile.html">Profile</a>
  			</div>
		</div>

		<h3 class="header"> List of Meetings You Have Created </h3>
		<div class="under">
		<ul class="list-group">
			{{#each meetingsCreated}}
			{{if finished != true}}
			<li class="list-group-item"> You created the meeting: {{meetingName}} at {{time}}</li>
			{{/each}}
		</ul>
		</div>

		<script src="/js/menu.js"></script>
	</body>
</html>