<!doctype html>

<html>
	<head>
				<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115142761-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-115142761-1');
		</script>

		<title>RUHereYet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/menu.css" rel="stylesheet">
	</head>
	<body>
		<div class="dropdownMC">
  			<button id="dropbtn">Menu</button>
  			<div id="myDropdown" class="dropdown-content">
    				<a class ="navigated" href="/home">Home</a>
    				<a class ="navigated" href="meetingsCreated">Meetings Created</a>
    				<a class ="navigated" href="meetingsJoined">Meetings Joined</a>
    				<a class ="navigated" href="friends">Friends</a>
    				<a class ="navigated" href="profile.html">Profile</a>
  			</div>
		</div>

		<h3 class="headerMC">Meetings Created</h3>
		<ul id= "meetingList">
			{{#each meetingsCreated}}
			<li class = "listElements"> You created the meeting: {{meetingName}} at {{time}}</li>
			<br>
			{{/each}}
		</ul>

		<form id="meetingDelete" class="form" role="form" method="get" action='/deleteMeeting'>
			<label for="deleteMeeting">Choose a Meeting to Delete:</label>
          <input type="text" name="deleteMeeting" placeholder="Enter Name of Meeting"></input>
          <input type="submit" class="btn btn-default" value="Delete"></input>
        </form>

		<script src="/js/menu.js"></script>
	</body>
</html>