/*Container for all dropdown content */
.container {
    z-index: 10;
    position: fixed; 
    left: .5vw; 
    top: 45vw;
}

/* Dropdown Button */
#dropbtn {
    color: black;
    padding: 16px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

/* Dropdown button on hover & focus */
#dropbtn:hover, #dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.header {
    margin-left: 30vw;
    margin-right: 5vw;
    text-align: center;
}

ul {
  list-style-type: none;
  margin-right: 5vw;
  margin-top: 5vw;
}

li {
  padding:5px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

#addMeetingButton {
    z-index: 1; 
    position: fixed; 
    right: 12vw; 
    bottom: 6vw;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
}

/* addMeeting button on hover & focus */
#addMeetingButton:hover, #addMeetingButton:focus {
    background-color: #2980B9;
}
 
#addFriendForm {
    margin-left: 4vw;
    margin-right: 4vw;
}

#friendsHeader{
    margin-top: 5vw;
    padding-top: 4vw;
}

#friendsList {
    margin-top: 15vw;
}



